* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: #25282a;
    color: azure;
    width: 100%;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

.header {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-top: 2rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    width: 100%;
    height: 75vh;
    display: flex;
    padding-bottom: 2rem;
    overflow: hidden;
}

.slider__item {
    background: #25282a;
    text-align: center;
    width: 0;
    height: 100%;
    transition: 0.2s width ease-in-out;
}

.slide {
    width: 100%;
    height: 100%;
}

.description {
    display: flex;
    width: 50%;
    margin-right: auto;
    overflow: hidden;
}

.description__text {
    width: 0;
    height: 100%;
    transition: 0.2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    order: 1;
}

.control__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #74aaf8;
    border-radius: 1.5rem;
    width: 1rem;
    height: 1rem;
}

.control:hover .control__circle {
    background: #ffffff;
}

.control__dot {
    display: block;
    visibility: hidden;
    border-radius: 100%;
    width: 0.8rem;
    height: 0.8rem;
    background: #25282a;
}

.slider__buttons_hidden {
    visibility: hidden;
}

#Meme1:checked ~ .slider #slide_first {
    width: 100%;
}
#Meme2:checked ~ .slider #slide_second {
    width: 100%;
}
#Meme3:checked ~ .slider #slide_third {
    width: 100%;
}
#Meme4:checked ~ .slider #slide_fourth {
    width: 100%;
}

#Meme1:checked ~ .description #description__text_first {
    width: 100%;
}
#Meme2:checked ~ .description #description__text_second {
    width: 100%;
}
#Meme3:checked ~ .description #description__text_third {
    width: 100%;
}
#Meme4:checked ~ .description #description__text_fourth {
    width: 100%;
}

#Meme1:checked ~ .control #control__dot_1 {
    visibility: visible;
}
#Meme2:checked ~ .control #control__dot_2 {
    visibility: visible;
}
#Meme3:checked ~ .control #control__dot_3 {
    visibility: visible;
}
#Meme4:checked ~ .control #control__dot_4 {
    visibility: visible;
}

.info {
    padding-top: 1rem;
    padding-left: 1rem;
}

@media screen and (max-width: 768px) {
    .description {
        width: 100%;
        order: 2;
    }
    .control_first {
        margin-left: auto;
    }
    .control_last {
        margin-right: auto;
    }
    .slider {
        height: 50vh
    }
}

